/SOAP_Java_BDD_Hiriart-Corales-Samaniego/01.SERVER/SOAP_BDD_Serv_Hiriart-Corales-Samaniego/nbproject/private/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/01.SERVER/SOAP_BDD_Serv_Hiriart-Corales-Samaniego/build/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/01.SERVER/SOAP_BDD_Serv_Hiriart-Corales-Samaniego/dist/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/01.SERVER/SOAP_BDD_Serv_Hiriart-Corales-Samaniego_old/nbproject/private/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/01.SERVER/SOAP_BDD_Serv_Hiriart-Corales-Samaniego/target/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/02.CLIENT/WS_SOAP_BDD_C/nbproject/private/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/02.CLIENT/WS_SOAP_BDD_Clnt_Hiriart-Corales-Samaniego/nbproject/private/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/02.CLIENT/WS_SOAP_BDD_Clnt_Hiriart-Corales-Samaniego/build/
/SOAP_Java_BDD_Hiriart-Corales-Samaniego/02.CLIENT/WS_SOAP_BDD_Clnt_Hiriart-Corales-Samaniego/dist/
