@{
    ViewData["Title"] = "Home | REST WS en .NET con BDD Hiriart Corales Samaniego";
}

<div class="text-center">
    <h1 class="display-4">RESTful web service en .NET con BDD - Hiriart Corales Samaniego</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
